@use "../vendors/prism";
@import "../base/typography";


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: #0074de;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
